@using DotNetNuke.Web.Razor;

@using DNNBase;
@using DNNBase.Components.Entities;
@using DNNBase.Components;

@inherits ViewWebPage

<ul class="bseList bseMargin">
	@foreach (var foo in Model.Foos)
	{
		<li class="bseItem">@foo.Name  @foo.Description</li>
	}
</ul>